# Cleaning and EDA

## Overview: Loading, Initial Observations, and Cleaning umpire datasets


---
## Project Workflow:
1. **Step 1: Install and Import Necessary Libraries**
2. **Step 2: Access Data**
3. **Step 3: Check Packaging**
5. **Step 4: Clean Data**
6. **Step 5: Save Data**

# Step 1: Install and Import Necessary Libraries

In [ ]:
import pandas as pd
import numpy as np

Requirement already satisfied: pandas in c:\users\lux elliott\onedrive - rensselaer polytechnic institute\documents\madeline_files\venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lux elliott\onedrive - rensselaer polytechnic institute\documents\madeline_files\venv\lib\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lux elliott\onedrive - rensselaer polytechnic institute\documents\madeline_files\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lux elliott\onedrive - rensselaer polytechnic institute\documents\madeline_files\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lux elliott\onedrive - rensselaer polytechnic institute\documents\madeline_files\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\lux elliott\onedrive - rensselaer polytechnic institute\documents\madeline_files\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

# Step 2: Access Data

In [3]:
# 1
file_path = r"data/Umpire_1.csv"
ump1 = pd.read_csv(file_path)

# 2
file_path = r"data/Umpire_2.csv"
ump2 = pd.read_csv(file_path)

# 3
file_path = r"data/Umpire_3.csv"
ump3 = pd.read_csv(file_path)

# Step 3: Check Packaging

In [4]:
ump1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57711 entries, 0 to 57710
Data columns (total 36 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   balls               57711 non-null  int64
 1   strikes             57711 non-null  int64
 2   pitch_type          57710 non-null  object
 3   release_speed       57711 non-null  float64
 4   release_pos_x       57711 non-null  float64
 5   release_pos_z       57711 non-null  float64
 6   description         57711 non-null  object
 7   zone                57711 non-null  float64
 8   stand               57711 non-null  object
 9   p_throws            57711 non-null  object
 10  game_year           57711 non-null  int64
 11  pfx_x               57699 non-null  float64
 12  pfx_z               57699 non-null  float64
 13  plate_x             57711 non-null  float64
 14  plate_z             57711 non-null  float64
 15  on_3b               57711 non-null  float64
 16  on_2b               57711 non-null  float64
 17  on_1b               57711 non-null  float64
 18  error_in_decision   57711 non-null  object
 19  pitch_location      57711 non-null  float64
 20  delta_home_win_exp  57711 non-null  float64
 21  delta_run_exp       57711 non-null  float64
 22  vx0                 57711 non-null  float64
 23  vy0                 57711 non-null  float64
 24  vz0                 57711 non-null  float64
 25  ax                  57711 non-null  float64
 26  ay                  57711 non-null  float64
 27  az                  57711 non-null  float64
 28  sz_top              57711 non-null  float64
 29  sz_bot              57711 non-null  float64
 30  release_pos_y       57711 non-null  float64
 31  at_bat_number       57711 non-null  int64
 32  pitch_number        57711 non-null  int64
 33  home_score          57711 non-null  int64
 34  away_score          57711 non-null  int64
 35  all_star_player     57711 non-null  float64
dtypes: float64(24), int64(7), object(5)
memory usage: 15.9+ MB

In [5]:
ump1.head()

,balls,strikes,pitch_type,release_speed,release_pos_x,release_pos_z,description,zone,stand,p_throws,...,ay,az,sz_top,sz_bot,release_pos_y,at_bat_number,pitch_number,home_score,away_score,all_star_player
0,0,0,SI,89.0,-1.99,6.63,ball,11.0,R,R,...,22.590,-16.360,3.38,1.50,54.5,1,1,0,0,0.0
1,1,0,SI,89.5,-1.87,6.77,ball,11.0,R,R,...,24.832,-14.209,3.38,1.50,54.5,1,2,0,0,0.0
2,3,0,AB,88.1,-1.91,6.75,ball,11.0,R,R,...,20.743,-16.374,3.38,1.50,54.5,1,4,0,0,0.0
3,0,0,SL,72.2,-1.71,6.85,called_strike,11.0,R,R,...,15.655,-32.714,3.29,1.52,54.5,2,1,0,0,0.0
4,0,2,SL,78.6,-1.62,6.89,ball,11.0,R,R,...,16.965,-32.758,3.29,1.52,54.5,2,3,0,0,0.0

In [6]:
ump2.head()

,balls,strikes,pitch_type,release_speed,release_pos_x,release_pos_z,description,zone,stand,p_throws,...,ay,az,sz_top,sz_bot,release_pos_y,at_bat_number,pitch_number,home_score,away_score,all_star_player
0,0,0,SI,83.0,-1.30,6.58,ball,11.0,L,R,...,28.628,-17.410,3.28,1.62,54.5,1,1,0,0,1.0
1,1,0,SI,83.4,-1.19,6.48,ball,14.0,L,R,...,28.455,-20.039,3.28,1.62,54.5,1,2,0,0,1.0
2,2,0,FF,82.4,-1.21,6.47,ball,7.0,L,R,...,28.159,-18.308,3.28,1.62,54.5,1,3,0,0,1.0
3,3,0,FF,81.6,-1.31,6.57,called_strike,5.0,L,R,...,27.364,-16.623,3.28,1.62,54.5,1,4,0,0,1.0
4,0,0,SI,84.9,-1.30,6.55,ball,14.0,R,R,...,27.535,-16.840,3.17,1.44,54.5,2,1,0,0,1.0

In [8]:
ump2.describe()

,balls,strikes,release_speed,release_pos_x,release_pos_z,zone,game_year,pfx_x,pfx_z,plate_x,...,ay,az,sz_top,sz_bot,release_pos_y,at_bat_number,pitch_number,home_score,away_score,all_star_player
count,53625.000000,53625.000000,53625.000000,53625.000000,53625.000000,53625.000000,53625.000000,53625.000000,53625.000000,53625.000000,...,53625.000000,53625.000000,53625.000000,53625.000000,53625.000000,53625.000000,53625.000000,53625.000000,53625.000000,53625.000000
mean,0.714200,0.667786,88.356091,-0.767171,6.008667,10.249417,2013.955319,-0.097917,0.737237,-0.028827,...,26.770618,-22.592338,3.419794,1.604675,54.462016,37.898387,2.461464,2.122107,2.268904,0.358247
std,0.911349,0.785524,6.097443,1.978065,0.511229,3.825103,3.887298,0.906151,0.766645,1.029347,...,4.388314,8.917349,0.219779,0.138041,0.289052,22.336089,1.549729,2.406000,2.438052,0.479490
min,0.000000,0.000000,53.900000,-5.260000,1.120000,1.000000,2008.000000,-2.380000,-2.770000,-4.470000,...,5.671000,-56.100000,2.530000,0.750000,52.320000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,84.400000,-2.200000,5.730000,8.000000,2011.000000,-0.870000,0.320000,-0.820000,...,23.589000,-28.480000,3.270000,1.510000,54.500000,19.000000,1.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,89.900000,-1.530000,6.030000,12.000000,2014.000000,-0.220000,0.900000,-0.020000,...,26.801000,-21.257288,3.420000,1.600000,54.500000,37.000000,2.000000,1.000000,2.000000,0.000000
75%,1.000000,1.000000,92.900000,1.270000,6.340000,13.000000,2017.000000,0.660000,1.310000,0.760000,...,29.793779,-15.540227,3.560000,1.690000,54.500000,57.000000,3.000000,3.000000,3.000000,1.000000
max,3.000000,2.000000,104.000000,5.600000,7.700000,14.000000,2021.000000,2.350000,2.790000,3.930000,...,51.916000,-0.145196,4.460000,2.400000,56.810000,93.000000,13.000000,14.000000,14.000000,1.000000